/3omns
/3omns.6
/3omns.6.txt
/l3/tests/driver
/n3/tests/n3c
/n3/tests/test_raw

*.a
*.o
.deps
.dirstamp
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/test-driver

/*/test-suite.log
/*/tests/*.log
/*/tests/*.trs
