/3omns
/3omns.6
/3omns.6.txt
/n3/tests/test_core

*.a
*.o
.deps
.dirstamp
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/n3/test-suite.log
/n3/tests/core.log
/n3/tests/core.trs
/test-driver
