[Desktop Entry]
Type=Application
Name=3omns
Comment=old-school arcade-style tile-based bomb-dropping deathmatch game
Icon=3omns
Exec=3omns
Categories=Game;ActionGame;ArcadeGame;
Keywords=bomb;bombs;deathmatch;
