Source: 3omns
Maintainer: Charles Lindsay <chaz@chazomatic.us>
Section: games
Priority: optional
Build-Depends: debhelper (>= 9),
 libsdl2-dev (>= 2.0.0),
 libsdl2-image-dev (>= 2.0.0),
 libsdl2-ttf-dev (>= 2.0.12),
 liblua5.2-dev (>= 5.2.0)
Standards-Version: 3.9.5
Homepage: http://chazomaticus.github.io/3omns/
Vcs-Browser: https://github.com/chazomaticus/3omns
Vcs-Git: https://github.com/chazomaticus/3omns.git

Package: 3omns
Architecture: any
Section: games
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: old-school arcade-style tile-based bomb-dropping deathmatch jam
 3omns is an old-school arcade-style tile-based bomb-dropping deathmatch game.
 The name is a bastardization of the word Bombs (and you should pronounce it
 however you want).
Homepage: http://chazomaticus.github.io/3omns/
